@using ResetPasswordModel = SampleBlog.Web.Server.ViewModels.ResetPasswordModel

@model ResetPasswordModel

<div class="row d-flex justify-content-center align-content-center h-100">
    <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image" />
    </div>
    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        @Html.ValidationSummary()
        <form asp-controller="Authentication" asp-action="ResetPassword" method="post">
            <fieldset>
                <div class="form-outline mb-3">
                    <input asp-for="Email" class="form-control form-control-lg" tabindex="0" placeholder="Enter email" autofocus/>
                    <span asp-for="Email" class="form-text text-muted">We will send an email to address specified if such user exists.</span>
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "form-text form-danger" })
                </div>
            </fieldset>

            <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg shadow" style="padding-left: 2.5rem; padding-right: 2.5rem;" tabindex="4">Reset</button>
            </div>
        </form>
    </div>
</div>