@using SampleBlog.Web.Client.Store

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<dish-calculator>
    @HeaderContent
    <div>
        @if (ModelState.Success == Order.Value.State)
        {
            <MudElement HtmlTag="div">
                @{
                    var entries = Order.Value.Entries;

                    if (0 == entries.Count)
                    {
                        @EmptyContent;
                    }
                    else
                    {
                        var list = entries.OrderBy(kvp => kvp.Key.Order);

                        foreach (var kvp in list)
                        {
                            <MudGrid>@RowTemplate.Invoke((kvp.Key, kvp.Value))</MudGrid>
                        }
                    }
                }
            </MudElement>
        }
        else if (ModelState.Loading == Order.Value.State)
        {

        }
    </div>
    @BottomContent.Invoke(Order.Value.TotalPrice)
</dish-calculator>