@using SampleBlog.Web.Client.Store

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<MudElement HtmlTag="DishEntry-calculator" Style="min-height: 120px;">
    @HeaderContent
    <div>
        @if (ModelState.Success == Order.Value.State)
        {
            var entries = Order.Value.Entries;

            if (0 == entries.Count)
            {
                @EmptyContent
            }
            else
            {
                <MudSimpleTable Hover=true Style="overflow-x: auto;">
                    <tbody>
                    @{
                        var list = entries.OrderBy(kvp => kvp.Key.Order);

                        foreach (var kvp in list)
                        {
                                <tr>
                                    <td>@RowTemplate.Invoke((kvp.Key, kvp.Value))</td>
                                </tr>
                        }
                    }
                    </tbody>
                </MudSimpleTable>
            }
        }
        else if (ModelState.Loading == Order.Value.State)
        {

        }
    </div>
    @BottomContent.Invoke((Order.Value.TotalCalories, Order.Value.TotalPrice))
</MudElement>